        html, body {
            height: 90%;
        }
        .base {
            width: 100%;
            padding: 1%;
            display: flex;
            height: 100%;
        }
        .base .left {
            width: 33%;
            padding: 1%;
            border-right: 1px solid #cccccc;
            height: 100%;
        }
        .base .right {
            width: calc(67% - 1px );
            padding: 0 1%;
        }
        .text-center {
            width: 100%;
            text-align: center;
        }
        .indent {
            padding-left: 20px;
        }
