/*----------------------------------------------------
@File: Default Styles
@Author: Rocky Ahmed
@URL: http://wethemez.com
Author E-mail: rockybd1995@gmail.com

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.
---------------------------------------------------- */
/*=====================================================================
@Template Name: Builder Construction 
@Author: Rocky Ahmed
@Developed By: Rocky Ahmed
@Developer URL: http://rocky.wethemez.com
Author E-mail: rockybd1995@gmail.com

@Default Styles

Table of Content:
01/ Variables
02/ predefin
03/ header
04/ button
05/ banner
06/ breadcrumb
07/ about
08/ team
09/ project 
10/ price 
11/ team 
12/ blog 
13/ video  
14/ service  
15/ career  
16/ contact 
17/ footer

=====================================================================*/
/*----------------------------------------------------*/
/*font Variables*/
/*Color Variables*/
/*=================== fonts ====================*/
@import url("../../../../../external.html?link=https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Open+Sans:400,600,700");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.row.m0 {
  margin: 0px; }

.no-margin {
  margin-right: 0;
  margin-left: 0; }

.area-heading {
  text-align: center;
  width: 100%;
  margin-bottom: 45px; }
  .area-heading h3 {
    color: #33353b;
    font-size: 36px;
    font-weight: 600;
    position: relative;
    margin-bottom: 23px; }
    .area-heading h3:after {
      content: '';
      position: absolute;
      width: 70px;
      height: 2px;
      background: #ff7a7f;
      left: 50%;
      transform: translateX(-50%);
      bottom: -10px; }
  .area-heading p {
    color: #0a0a0a; }

body {
  line-height: 27px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #797979; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold; }

button:focus {
  outline: none;
  box-shadow: none; }

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px; }

.pad_top {
  padding-top: 120px; }

.mt-25 {
  margin-top: 25px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.area-padding {
  padding: 130px 0; }

.area-padding-top {
  padding-top: 100px; }

.area-padding-bottom {
  padding-bottom: 100px; }

.background_one {
  background: #fbf1f2; }

.border-bottom {
  border-bottom: 1px solid #e8edf1; }

.dark_font {
  color: #0a0a0a !important; }

.m_b_30 {
  margin-bottom: 30px; }

.font-20 {
  font-size: 20px !important;
  line-height: 26px !important; }

.pad_25 {
  padding: 25px !important; }

.padd_left_0 {
  padding-left: 0 !important; }

.padd_right_0 {
  padding-right: 0 !important; }

.background_one {
  background: #fbf1f2; }

img {
  max-width: 100%; }

ul {
  list-style: none;
  padding: 0; }

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto; } }
/* Main Title Area css
============================================================================================ */
.main_title {
  text-align: center;
  max-width: 680px;
  margin: 0px auto 75px; }
  .main_title h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    color: #33353b;
    margin-bottom: 12px; }
  .main_title p {
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    line-height: 24px;
    color: #797979;
    margin-bottom: 0px; }

/* End Main Title Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* =================================== */
/*  Start Header Top Area CSS
/* =================================== */
.header-top {
  line-height: 100px;
  border-bottom: 1px solid #e8edf1; }
  @media (max-width: 575px) {
    .header-top .col-lg-6 {
      width: 50%; } }
  .header-top .search-trigger {
    text-align: right; }
    @media (max-width: 960px) {
      .header-top .search-trigger {
        display: none; } }
    .header-top .search-trigger a {
      color: #2a2a2a;
      font-weight: 500; }
  .header-top .header_social {
    float: right;
    margin: 0; }
    .header-top .header_social li {
      display: inline-block;
      margin-right: 15px; }
      .header-top .header_social li a {
        font-size: 13px;
        color: #797979;
        display: inline-block;
        line-height: 42px;
        transition: all 300ms linear 0s; }
      .header-top .header_social li:last-child {
        margin-right: 0px; }
      .header-top .header_social li:hover a {
        color: #ff7a7f; }
      @media (max-width: 991px) {
        .header-top .header_social li {
          margin-right: 7px; } }
  .header-top .right-button ul {
    margin: 0; }
    .header-top .right-button ul li {
      display: inline-block;
      margin-left: 19px; }
      .header-top .right-button ul li a {
        font-size: 15px;
        color: #33353b;
        font-weight: 600; }
  .header-top #close_search {
    line-height: 36px;
    cursor: pointer; }

.logo-wrapper {
  text-align: center; }

#search_input_box {
  text-align: center;
  padding: 5px 20px;
  background: #000; }
  #search_input_box .form-control {
    background: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    padding: 0; }
    #search_input_box .form-control:focus {
      box-shadow: none;
      outline: none; }
  #search_input_box input.placeholder {
    color: #ffffff;
    font-size: 14px; }
  #search_input_box input:-moz-placeholder {
    color: #ffffff;
    font-size: 14px; }
  #search_input_box input::-moz-placeholder {
    color: #ffffff;
    font-size: 14px; }
  #search_input_box input::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 14px; }
  #search_input_box .btn {
    width: 0;
    height: 0;
    padding: 0;
    border: 0; }
  #search_input_box .lnr-cross {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 3px; }

/* =================================== */
/*  Start Header Area CSS
/* =================================== */
.header_area .navbar {
  background: transparent;
  padding: 0px;
  border: 0px;
  border-radius: 0px; }
  .header_area .navbar .logo_h {
    color: #fff;
    height: 80px;
    text-align: center;
    line-height: 69px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700; }
  .header_area .navbar .navbar-brand {
    padding-top: 0; }
  .header_area .navbar .nav .nav-item {
    margin-right: 45px; }
    .header_area .navbar .nav .nav-item .nav-link {
      font: 500 12px/80px "Josefin Sans", sans-serif;
      text-transform: capitalize;
      color: #33353b;
      padding: 0px;
      display: inline-block;
      font-size: 15px; }
      .header_area .navbar .nav .nav-item .nav-link:after {
        display: none; }
    .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
      color: #ff7a7f; }
    .header_area .navbar .nav .nav-item.submenu {
      position: relative; }
      .header_area .navbar .nav .nav-item.submenu ul {
        border: none;
        padding: 0px;
        border-radius: 0px;
        box-shadow: none;
        margin: 0px;
        background: #fff;
        box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
        @media (min-width: 992px) {
          .header_area .navbar .nav .nav-item.submenu ul {
            position: absolute;
            top: 120%;
            left: 0px;
            min-width: 200px;
            text-align: left;
            opacity: 0;
            transition: all 300ms ease-in;
            visibility: hidden;
            display: block;
            border: none;
            padding: 0px;
            border-radius: 0px; } }
        .header_area .navbar .nav .nav-item.submenu ul:before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 0 10px;
          border-color: #eeeeee transparent transparent transparent;
          position: absolute;
          right: 24px;
          top: 45px;
          z-index: 3;
          opacity: 0;
          transition: all 400ms linear; }
        .header_area .navbar .nav .nav-item.submenu ul .nav-item {
          display: block;
          float: none;
          margin-right: 0px;
          border-bottom: 1px solid #ededed;
          margin-left: 0px;
          transition: all 0.4s linear; }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
            line-height: 45px;
            color: #33353b;
            padding: 0px 30px;
            transition: all 150ms linear;
            display: block;
            margin-right: 0px; }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
            border-bottom: none; }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
            background: #ff7a7f;
            color: #fff; }
      @media (min-width: 992px) {
        .header_area .navbar .nav .nav-item.submenu:hover ul {
          visibility: visible;
          opacity: 1;
          top: 100%; } }
      .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
        margin-top: 0px; }
    .header_area .navbar .nav .nav-item:last-child {
      margin-right: 0px; }
.header_area.navbar_fixed .main_menu {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #fff;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 9999; }
  .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 70px; }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9); }

.nav-menu li {
  position: relative;
  white-space: nowrap; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  left: 100%; }

.nav-menu ul li {
  min-width: 180px;
  text-align: left; }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px; }

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal; }

.sf-arrows ul .sf-with-ul:after {
  content: "\f105"; }

/* Nav Meu Container */
#nav-menu-container {
  margin: 0; }

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  color: #2a2a2a;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  outline: none; }

.nav-menu > li {
  margin-left: 10px; }

.nav-menu ul {
  margin: 20px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff; }

.nav-menu ul li {
  transition: 0.3s; }

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px;
  text-transform: none; }

.nav-menu ul li:hover > a {
  color: #ff7a7f; }

.nav-menu ul ul {
  margin: 0; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 30px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer; }

#mobile-nav-toggle i {
  color: #ff7a7f;
  font-weight: 900; }

@media (max-width: 960px) {
  #mobile-nav-toggle {
    display: inline; }

  #nav-menu-container {
    display: none; } }
/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #ff7a7f; }

#mobile-nav ul .menu-has-children li a {
  text-transform: none; }

#mobile-nav ul .menu-item-active {
  color: #ff7a7f; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Home Banner Area css
============================================================================================ */
/* 5. Banner */
.banner-area {
  background: #ff7a7f;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  @media (max-width: 767px) {
    .banner-area {
      min-height: 600px; } }
  .banner-area h1 {
    font-size: 45px;
    color: #000;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .banner-area h1 {
        font-size: 26px; } }
  .banner-area p {
    margin-bottom: 50px; }
    @media (min-width: 576px) and (max-width: 767px) {
      .banner-area p {
        padding-right: 113px; } }
  .banner-area .main_btn {
    margin-right: 10px; }
    @media (max-width: 575px) {
      .banner-area .main_btn {
        margin-bottom: 10px; } }

.blog_banner {
  min-height: 660px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 0px; }
  .blog_banner .banner_inner {
    background: #04091e;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 660px;
    z-index: 1; }
    .blog_banner .banner_inner .overlay {
      background: url(../img/banner/banner-2.html) no-repeat scroll center center;
      opacity: .5;
      height: 125%;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      z-index: -1; }
    .blog_banner .banner_inner .blog_b_text {
      max-width: 700px;
      margin: auto;
      color: #fff; }
      .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 60px;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        line-height: 66px;
        margin-bottom: 15px; }
      .blog_banner .banner_inner .blog_b_text p {
        font-size: 16px;
        margin-bottom: 35px; }
      .blog_banner .banner_inner .blog_b_text .white_bg_btn {
        line-height: 42px;
        padding: 0px 45px; }

.banner_box {
  max-width: 1620px;
  margin: auto; }

.banner_area {
  position: relative;
  z-index: 1; }
  .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 110px;
    background: #ff7a7f;
    z-index: 1;
    background-size: cover; }
    .banner_area .banner_inner .banner_content h2 {
      color: #fff;
      font-size: 27px;
      font-family: "Josefin Sans", sans-serif;
      margin-bottom: 0;
      font-weight: bold; }
    .banner_area .banner_inner .banner_content p {
      color: #666666;
      font-size: 15px; }
    .banner_area .banner_inner .banner_content .page_link {
      padding: 25px;
      display: inline-block; }
      .banner_area .banner_inner .banner_content .page_link a {
        font-size: 15px;
        color: #fff;
        font-family: "Open Sans", sans-serif;
        margin-right: 7px;
        position: relative;
        font-weight: 500; }
        .banner_area .banner_inner .banner_content .page_link a:before {
          content: "/";
          position: absolute;
          right: -8px;
          top: 50%;
          transform: translateY(-50%); }
        .banner_area .banner_inner .banner_content .page_link a:last-child {
          margin-right: 0px; }
          .banner_area .banner_inner .banner_content .page_link a:last-child:before {
            display: none; }
        .banner_area .banner_inner .banner_content .page_link a:hover {
          color: #000; }

/* End Home Banner Area css
============================================================================================ */
/* banner section start
============================================================================================ */
.hero-banner {
  position: relative;
  padding: 70px 0;
  background: #fbf1f2;
  background-size: cover; }
  @media (min-width: 768px) {
    .hero-banner {
      padding: 150px 0; } }
  @media (min-width: 1200px) {
    .hero-banner {
      padding: 110px 0; } }
  .hero-banner-sm {
    padding-top: 80px;
    padding-bottom: 80px; }
    @media (min-width: 992px) {
      .hero-banner-sm {
        padding-top: 100px;
        padding-bottom: 100px; } }
  .hero-banner h1 {
    color: #2a2a2a;
    margin-bottom: 25px;
    font-size: 28px; }
    @media (min-width: 768px) {
      .hero-banner h1 {
        font-size: 60px;
        margin-bottom: 45px; } }
  .hero-banner h2 {
    font-size: 22px;
    color: #2a2a2a;
    text-transform: capitalize;
    margin-bottom: 0; }
    @media (min-width: 768px) {
      .hero-banner h2 {
        font-size: 42px; } }
  .hero-banner p {
    font-size: 22px;
    color: #2a2a2a;
    margin-bottom: 0; }

.hero-banner-icon {
  color: #2a2a2a;
  display: inline-block; }
  @media (min-width: 768px) {
    .hero-banner-icon {
      margin-bottom: 10px; } }
  .hero-banner-icon i, .hero-banner-icon span {
    font-size: 35px; }
    @media (min-width: 768px) {
      .hero-banner-icon i, .hero-banner-icon span {
        font-size: 60px; } }
  .hero-banner-icon [class^="flaticon-"]:before, .hero-banner-icon [class*=" flaticon-"]:before, .hero-banner-icon [class^="flaticon-"]:after, .hero-banner-icon [class*=" flaticon-"]:after {
    font-size: 35px; }
    @media (min-width: 768px) {
      .hero-banner-icon [class^="flaticon-"]:before, .hero-banner-icon [class*=" flaticon-"]:before, .hero-banner-icon [class^="flaticon-"]:after, .hero-banner-icon [class*=" flaticon-"]:after {
        font-size: 60px; } }

/* banner section end
============================================================================================ */
/* breadcrumb section start
============================================================================================ */
.banner-breadcrumb {
  display: inline-block; }
  .banner-breadcrumb .breadcrumb {
    background: transparent;
    padding: 0; }
    .banner-breadcrumb .breadcrumb-item {
      padding: .1rem; }
      .banner-breadcrumb .breadcrumb-item a {
        text-transform: capitalize;
        color: #2a2a2a; }
      .banner-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
        color: #2a2a2a;
        padding-left: .2rem;
        padding-right: .4rem; }
      .banner-breadcrumb .breadcrumb-item.active {
        color: #2a2a2a; }
  .banner-breadcrumb .breadcrumb-item a:hover {
    color: #ff7a7f; }

/* breadcrumb section end
  ============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Start Blog Area css
============================================================================================ */
.single-blog {
  transition: all 300ms linear 0s;
  position: relative; }
  .single-blog .thumb {
    overflow: hidden; }
    .single-blog .thumb img {
      width: 100%;
      transition: all 300ms linear 0s; }
  .single-blog .short_details {
    background: #fff;
    transition: all 300ms linear 0s;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    padding: 40px;
    transition: all 300ms linear 0s; }
    .single-blog .short_details a {
      color: #33353b;
      font-weight: 600;
      text-transform: capitalize; }
      .single-blog .short_details a:hover {
        color: #ff7a7f; }
  .single-blog .meta-bottom {
    margin-bottom: 15px; }
    .single-blog .meta-bottom a {
      display: inline-block;
      color: #797979;
      position: relative;
      font-size: 13px;
      text-transform: uppercase;
      transition: all 300ms linear 0s; }
      .single-blog .meta-bottom a i {
        margin-right: 10px; }
      .single-blog .meta-bottom a:hover {
        color: #ff7a7f; }
  .single-blog .meta-top {
    margin-bottom: 6px; }
    .single-blog .meta-top a {
      display: inline-block;
      font-size: 11px;
      color: #ff7a7f;
      text-transform: uppercase;
      position: relative;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      transition: all 300ms linear 0s; }
      .single-blog .meta-top a:hover {
        color: #ff7a7f; }
  .single-blog h4 {
    font-size: 27px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 36px;
    transition: all 300ms linear 0s; }
    @media (max-width: 1199px) {
      .single-blog h4 {
        font-size: 18px; } }
    @media (max-width: 991px) {
      .single-blog h4 {
        margin-bottom: 8px; } }
  .single-blog:hover img {
    transform: scale(1.1); }

.single-blog .meta-top a:first-child {
  margin-right: 3px; }

.single-blog .meta-top a:last-child {
  margin-left: 3px; }

.single-blog.style_two {
  position: relative; }
  .single-blog.style_two .short_details {
    background: transparent;
    right: 0;
    width: 100%;
    padding: 0 65px;
    bottom: 50%;
    transform: translateY(50%);
    transition: all 300ms linear 0s; }
    .single-blog.style_two .short_details a {
      color: #fff; }
      .single-blog.style_two .short_details a:hover {
        color: #ff7a7f; }
  .single-blog.style_two .meta-bottom a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 300ms linear 0s; }
  .single-blog.style_two .meta-top a {
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    transition: all 300ms linear 0s; }
    .single-blog.style_two .meta-top a:hover {
      color: #ff7a7f; }
  .single-blog.style_two h4 {
    font-size: 27px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 36px;
    transition: all 300ms linear 0s; }
    @media (max-width: 1199px) {
      .single-blog.style_two h4 {
        font-size: 18px; } }
    @media (max-width: 991px) {
      .single-blog.style_two h4 {
        margin-bottom: 8px; } }

.single-blog.style-three {
  text-align: center;
  transition: all 300ms linear 0s;
  position: relative; }
  .single-blog.style-three .thumb {
    overflow: hidden; }
    .single-blog.style-three .thumb img {
      width: 100%;
      transition: all 300ms linear 0s; }
  .single-blog.style-three .short_details {
    background: #fff;
    transition: all 300ms linear 0s;
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 80%;
    padding: 20px 25px;
    transition: all 300ms linear 0s; }
    .single-blog.style-three .short_details a {
      color: #33353b;
      font-weight: 600;
      text-transform: capitalize; }
      .single-blog.style-three .short_details a:hover {
        color: #ff7a7f; }
  .single-blog.style-three .meta-bottom a {
    display: inline-block;
    color: #797979;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 300ms linear 0s; }
    .single-blog.style-three .meta-bottom a i {
      margin-right: 10px; }
    .single-blog.style-three .meta-bottom a:hover {
      color: #ff7a7f; }
  .single-blog.style-three .meta-top {
    margin-bottom: 6px; }
    .single-blog.style-three .meta-top a {
      display: inline-block;
      font-size: 11px;
      color: #ff7a7f;
      text-transform: uppercase;
      position: relative;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      transition: all 300ms linear 0s; }
      .single-blog.style-three .meta-top a:hover {
        color: #ff7a7f; }
  .single-blog.style-three h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 36px;
    transition: all 300ms linear 0s; }
    @media (max-width: 1199px) {
      .single-blog.style-three h4 {
        font-size: 18px; } }
    @media (max-width: 991px) {
      .single-blog.style-three h4 {
        margin-bottom: 8px; } }

.single-blog.style-four .short_details {
  position: relative;
  top: 50%;
  right: 0;
  width: 100%;
  padding: 25px;
  transform: translateY(-50%);
  transition: all 300ms linear 0s; }
  .single-blog.style-four .short_details a {
    color: #33353b;
    font-weight: 600;
    text-transform: inherit; }
    .single-blog.style-four .short_details a:hover {
      color: #ff7a7f; }
.single-blog.style-four .meta-bottom a {
  color: #797979;
  font-size: 13px; }
.single-blog.style-four .meta-top a {
  font-size: 11px;
  position: relative; }
.single-blog.style-four h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 36px;
  transition: all 300ms linear 0s; }
  @media (max-width: 1199px) {
    .single-blog.style-four h4 {
      font-size: 18px; } }
  @media (max-width: 991px) {
    .single-blog.style-four h4 {
      margin-bottom: 8px; } }
.single-blog.border_one {
  border: 10px solid #ff7a7f; }

.addvertise {
  width: 100%;
  text-align: center;
  margin-top: 100px; }

.single-blog.style_five {
  border: 6px solid #b9be7e;
  position: relative; }
  .single-blog.style_five .short_details {
    background: transparent;
    right: 0;
    width: 100%;
    bottom: 0;
    padding: 0 18px;
    transition: all 300ms linear 0s; }
    .single-blog.style_five .short_details a {
      color: #fff; }
      .single-blog.style_five .short_details a:hover {
        color: #ff7a7f; }
  .single-blog.style_five .meta-bottom a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 300ms linear 0s; }
  .single-blog.style_five .meta-top a {
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    transition: all 300ms linear 0s; }
    .single-blog.style_five .meta-top a:hover {
      color: #ff7a7f; }
  .single-blog.style_five h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 36px;
    transition: all 300ms linear 0s; }
    @media (max-width: 1199px) {
      .single-blog.style_five h4 {
        font-size: 18px; } }
    @media (max-width: 991px) {
      .single-blog.style_five h4 {
        margin-bottom: 8px; } }

.single-blog.video-style .short_details {
  margin-top: -92px;
  right: -3%;
  width: 94%;
  padding: 40px;
  z-index: 555;
  position: relative;
  transition: all 300ms linear 0s; }
  .single-blog.video-style .short_details a {
    color: #33353b;
    font-weight: 600; }
    .single-blog.video-style .short_details a:hover {
      color: #ff7a7f; }
.single-blog.video-style .thumb {
  overflow: hidden;
  position: relative; }
  .single-blog.video-style .thumb img {
    width: 100%;
    transition: all 300ms linear 0s; }
.single-blog.video-style .meta-bottom {
  margin-bottom: 15px; }
  .single-blog.video-style .meta-bottom a {
    display: inline-block;
    color: #797979;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 300ms linear 0s;
    margin-right: 12px; }
    .single-blog.video-style .meta-bottom a i {
      margin-right: 5px; }
    .single-blog.video-style .meta-bottom a:hover {
      color: #ff7a7f; }
.single-blog.video-style .meta-top {
  margin-bottom: 6px; }
  .single-blog.video-style .meta-top a {
    display: inline-block;
    font-size: 11px;
    color: #ff7a7f;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    transition: all 300ms linear 0s; }
    .single-blog.video-style .meta-top a:hover {
      color: #ff7a7f; }
.single-blog.video-style.small .short_details {
  margin-top: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  padding-left: 20px; }
.single-blog.video-style.small .thumb {
  overflow: hidden;
  padding-right: 0; }
.single-blog.video-style.small .meta-bottom {
  margin-bottom: 15px; }
  .single-blog.video-style.small .meta-bottom a {
    display: inline-block;
    color: #797979;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 300ms linear 0s;
    margin-right: 12px; }
    .single-blog.video-style.small .meta-bottom a i {
      margin-right: 5px; }
    .single-blog.video-style.small .meta-bottom a:hover {
      color: #ff7a7f; }
.single-blog.video-style.small .meta-top {
  margin-bottom: 6px; }
  .single-blog.video-style.small .meta-top a {
    display: inline-block;
    font-size: 11px;
    color: #ff7a7f;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    transition: all 300ms linear 0s; }
    .single-blog.video-style.small .meta-top a:hover {
      color: #ff7a7f; }
.single-blog.video-style.small h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 27px;
  transition: all 300ms linear 0s; }
  @media (max-width: 1199px) {
    .single-blog.video-style.small h4 {
      font-size: 18px; } }
  @media (max-width: 991px) {
    .single-blog.video-style.small h4 {
      margin-bottom: 8px; } }
.single-blog.video-style:hover img {
  transform: scale(1); }

.single-blog.style-five .short_details {
  margin-top: -92px;
  right: -6%;
  width: 94%;
  padding: 40px;
  z-index: 555;
  position: relative;
  transition: all 300ms linear 0s; }
  .single-blog.style-five .short_details a {
    color: #33353b;
    font-weight: 600; }
    .single-blog.style-five .short_details a:hover {
      color: #ff7a7f; }
.single-blog.style-five .thumb {
  overflow: hidden;
  position: relative; }
  .single-blog.style-five .thumb img {
    width: 100%;
    transition: all 300ms linear 0s; }
.single-blog.style-five .meta-bottom {
  margin-bottom: 15px; }
  .single-blog.style-five .meta-bottom a {
    display: inline-block;
    color: #797979;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 300ms linear 0s;
    margin-right: 12px; }
    .single-blog.style-five .meta-bottom a i {
      margin-right: 5px; }
    .single-blog.style-five .meta-bottom a:hover {
      color: #ff7a7f; }
.single-blog.style-five .meta-top {
  margin-bottom: 6px; }
  .single-blog.style-five .meta-top a {
    display: inline-block;
    font-size: 11px;
    color: #ff7a7f;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    transition: all 300ms linear 0s; }
    .single-blog.style-five .meta-top a:hover {
      color: #ff7a7f; }
.single-blog.style-five h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 27px;
  transition: all 300ms linear 0s; }
  @media (max-width: 1199px) {
    .single-blog.style-five h4 {
      font-size: 18px; } }
  @media (max-width: 991px) {
    .single-blog.style-five h4 {
      margin-bottom: 8px; } }
.single-blog.style-five.small .short_details {
  padding: 20px; }
.single-blog.style-five.small .thumb {
  overflow: hidden; }
.single-blog.style-five.small .meta-bottom {
  margin-bottom: 15px; }
  .single-blog.style-five.small .meta-bottom a {
    display: inline-block;
    color: #797979;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 300ms linear 0s;
    margin-right: 12px; }
    .single-blog.style-five.small .meta-bottom a i {
      margin-right: 5px; }
    .single-blog.style-five.small .meta-bottom a:hover {
      color: #ff7a7f; }
.single-blog.style-five.small .meta-top {
  margin-bottom: 6px; }
  .single-blog.style-five.small .meta-top a {
    display: inline-block;
    font-size: 11px;
    color: #ff7a7f;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    transition: all 300ms linear 0s; }
    .single-blog.style-five.small .meta-top a:hover {
      color: #ff7a7f; }
.single-blog.style-five.small h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 27px;
  transition: all 300ms linear 0s; }
  @media (max-width: 1199px) {
    .single-blog.style-five.small h4 {
      font-size: 18px; } }
  @media (max-width: 991px) {
    .single-blog.style-five.small h4 {
      margin-bottom: 8px; } }
.single-blog.style-five:hover img {
  transform: scale(1); }

/* End Blog Area css
============================================================================================ */
/* Latest Blog Area css
============================================================================================ */
.l_blog_item .l_blog_text .date {
  margin-top: 24px;
  margin-bottom: 15px; }
  .l_blog_item .l_blog_text .date a {
    font-size: 12px; }
.l_blog_item .l_blog_text h4 {
  font-size: 18px;
  color: #2a2a2a;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 0px;
  padding-bottom: 20px;
  transition: all 300ms linear 0s; }
  .l_blog_item .l_blog_text h4:hover {
    color: #ff7a7f; }
.l_blog_item .l_blog_text p {
  margin-bottom: 0px;
  padding-top: 20px; }

/* End Latest Blog Area css
============================================================================================ */
/* Causes Area css
============================================================================================ */
.causes_slider .owl-dots {
  text-align: center;
  margin-top: 80px; }
  .causes_slider .owl-dots .owl-dot {
    height: 14px;
    width: 14px;
    background: #eeeeee;
    display: inline-block;
    margin-right: 7px; }
    .causes_slider .owl-dots .owl-dot:last-child {
      margin-right: 0px; }
    .causes_slider .owl-dots .owl-dot.active {
      background: #ff7a7f; }

.causes_item {
  background: #fff; }
  .causes_item .causes_img {
    position: relative; }
    .causes_item .causes_img .c_parcent {
      position: absolute;
      bottom: 0px;
      width: 100%;
      left: 0px;
      height: 3px;
      background: rgba(255, 255, 255, 0.5); }
      .causes_item .causes_img .c_parcent span {
        width: 70%;
        height: 3px;
        background: #2a2a2a;
        position: absolute;
        left: 0px;
        bottom: 0px; }
        .causes_item .causes_img .c_parcent span:before {
          content: "75%";
          position: absolute;
          right: -10px;
          bottom: 0px;
          background: #2a2a2a;
          color: #fff;
          padding: 0px 5px; }
  .causes_item .causes_text {
    padding: 30px 35px 40px 30px; }
    .causes_item .causes_text h4 {
      color: #2a2a2a;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
      cursor: pointer; }
      .causes_item .causes_text h4:hover {
        color: #2a2a2a; }
    .causes_item .causes_text p {
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      margin-bottom: 0px; }
  .causes_item .causes_bottom a {
    width: 50%;
    border: 1px solid #2a2a2a;
    text-align: center;
    float: left;
    line-height: 50px;
    background: #2a2a2a;
    color: #fff;
    font-size: 14px;
    font-weight: 500; }
    .causes_item .causes_bottom a + a {
      border-color: #eeeeee;
      background: #fff;
      font-size: 14px;
      color: #2a2a2a; }

/* End Causes Area css
============================================================================================ */
/*================= latest_blog_area css =============*/
.latest_blog_area {
  background: #f9f9ff; }

.single-recent-blog-post {
  margin-bottom: 30px; }
  .single-recent-blog-post .thumb {
    overflow: hidden; }
    .single-recent-blog-post .thumb img {
      transition: all 0.7s linear; }
  .single-recent-blog-post .details {
    padding-top: 30px; }
    .single-recent-blog-post .details .sec_h4 {
      line-height: 24px;
      padding: 10px 0px 13px;
      transition: all 0.3s linear; }
  .single-recent-blog-post .date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400; }
  .single-recent-blog-post:hover img {
    transform: scale(1.23) rotate(10deg); }

.tags .tag_btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #eeeeee;
  display: inline-block;
  padding: 1px 18px;
  text-align: center;
  color: #2a2a2a; }
  .tags .tag_btn:before {
    background: #2a2a2a; }
  .tags .tag_btn + .tag_btn {
    margin-left: 2px; }

/*========= blog_categorie_area css ===========*/
.blog_categorie_area {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 900px) {
    .blog_categorie_area {
      padding-top: 80px;
      padding-bottom: 80px; } }
  @media (min-width: 1100px) {
    .blog_categorie_area {
      padding-top: 120px;
      padding-bottom: 120px; } }

.categories_post {
  position: relative;
  text-align: center;
  cursor: pointer; }
  .categories_post img {
    max-width: 100%; }
  .categories_post .categories_details {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(34, 34, 34, 0.75);
    color: #fff;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center; }
    .categories_post .categories_details h5 {
      margin-bottom: 0px;
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;
      color: #fff;
      position: relative; }
    .categories_post .categories_details p {
      font-weight: 300;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 0px; }
    .categories_post .categories_details .border_line {
      margin: 10px 0px;
      background: #fff;
      width: 100%;
      height: 1px; }
  .categories_post:hover .categories_details {
    background: rgba(222, 99, 32, 0.85); }

/*============ blog_left_sidebar css ==============*/
.blog_item {
  margin-bottom: 50px; }

.blog_details {
  padding: 30px 0 20px 10px;
  box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3); }
  @media (min-width: 768px) {
    .blog_details {
      padding: 60px 30px 35px 35px; } }
  .blog_details p {
    margin-bottom: 30px; }
  .blog_details a {
    color: #2a2a2a; }
    .blog_details a:hover {
      color: #ff7a7f; }
  .blog_details h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px; }
    @media (min-width: 768px) {
      .blog_details h2 {
        font-size: 24px;
        margin-bottom: 15px; } }

.blog-info-link li {
  float: left;
  font-size: 14px; }
  .blog-info-link li a {
    color: #999999; }
  .blog-info-link li i, .blog-info-link li span {
    font-size: 13px;
    margin-right: 5px; }
  .blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px; }
  .blog-info-link li:last-child::after {
    display: none; }
.blog-info-link::after {
  content: "";
  display: block;
  clear: both;
  display: table; }

.blog_item_img {
  position: relative; }
  .blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    background: #ff7a7f;
    padding: 8px 15px;
    border-radius: 5px; }
    @media (min-width: 768px) {
      .blog_item_img .blog_item_date {
        bottom: -20px;
        left: 40px;
        padding: 13px 30px; } }
    .blog_item_img .blog_item_date h3 {
      font-size: 22px;
      font-weight: 600;
      color: #fff;
      margin-bottom: 0;
      line-height: 1.2; }
      @media (min-width: 768px) {
        .blog_item_img .blog_item_date h3 {
          font-size: 30px; } }
    .blog_item_img .blog_item_date p {
      margin-bottom: 0; }
      @media (min-width: 768px) {
        .blog_item_img .blog_item_date p {
          font-size: 18px; } }

.blog_right_sidebar .widget_title {
  font-size: 20px;
  margin-bottom: 40px;
  color: #2a2a2a; }
  .blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff; }
.blog_right_sidebar .single_sidebar_widget {
  background: #fbf9ff;
  padding: 30px;
  margin-bottom: 30px; }
.blog_right_sidebar .search_widget .form-control {
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999999;
  padding-left: 20px;
  border-radius: 0;
  border-right: 0; }
  .blog_right_sidebar .search_widget .form-control::placeholder {
    color: #999999; }
  .blog_right_sidebar .search_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none; }
.blog_right_sidebar .search_widget .input-group button {
  background: #fff;
  border-left: 0;
  border: 1px solid #f0e9ff;
  padding: 4px 15px;
  border-left: 0; }
  .blog_right_sidebar .search_widget .input-group button i, .blog_right_sidebar .search_widget .input-group button span {
    font-size: 14px;
    color: #999999; }
.blog_right_sidebar .newsletter_widget .form-control {
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999999;
  padding-left: 20px;
  border-radius: 0; }
  .blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999999; }
  .blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none; }
.blog_right_sidebar .newsletter_widget .input-group button {
  background: #fff;
  border-left: 0;
  border: 1px solid #f0e9ff;
  padding: 4px 15px;
  border-left: 0; }
  .blog_right_sidebar .newsletter_widget .input-group button i, .blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #999999; }
.blog_right_sidebar .post_category_widget .cat-list li {
  border-bottom: 1px solid #f0e9ff;
  transition: all 0.3s ease 0s;
  padding-bottom: 12px; }
  .blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0; }
  .blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888888; }
    .blog_right_sidebar .post_category_widget .cat-list li a p {
      margin-bottom: 0px; }
  .blog_right_sidebar .post_category_widget .cat-list li + li {
    padding-top: 15px; }
  .blog_right_sidebar .post_category_widget .cat-list li:hover a {
    color: #ff7a7f; }
.blog_right_sidebar .popular_post_widget .post_item .media-body {
  justify-content: center;
  align-self: center;
  padding-left: 20px; }
  .blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear; }
  .blog_right_sidebar .popular_post_widget .post_item .media-body a {
    color: #2a2a2a; }
    .blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
      color: #ff7a7f; }
  .blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px; }
.blog_right_sidebar .popular_post_widget .post_item + .post_item {
  margin-top: 20px; }
.blog_right_sidebar .tag_cloud_widget ul li {
  display: inline-block; }
  .blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 5px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px; }
    .blog_right_sidebar .tag_cloud_widget ul li a:hover {
      background: #ff7a7f;
      color: #fff; }
.blog_right_sidebar .instagram_feeds .instagram_row {
  display: flex;
  margin-right: -6px;
  margin-left: -6px; }
  .blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px; }
.blog_right_sidebar .br {
  width: 100%;
  height: 1px;
  background: #eeeeee;
  margin: 30px 0px; }

.blog-pagination {
  margin-top: 80px; }

.blog-pagination .page-link {
  font-size: 14px;
  position: relative;
  display: block;
  padding: 0;
  text-align: center;
  margin-left: -1px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 0 !important;
  color: #8a8a8a;
  border: 1px solid #f0e9ff;
  margin-right: 10px; }
  .blog-pagination .page-link i, .blog-pagination .page-link span {
    font-size: 13px; }
  .blog-pagination .page-link:hover {
    background-color: #ff7a7f;
    color: #fff; }

.blog-pagination .page-item.active .page-link {
  background-color: #fbf9ff;
  border-color: #f0e9ff;
  color: #888888; }

.blog-pagination .page-item:last-child .page-link {
  margin-right: 0; }

/*============ Start Blog Single Styles  =============*/
.single-post-area .blog_details {
  box-shadow: none;
  padding: 0; }
.single-post-area .social-links {
  padding-top: 10px; }
  .single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px; }
    .single-post-area .social-links li a {
      color: #cccccc;
      padding: 7px;
      font-size: 14px;
      transition: all 0.2s linear; }
      .single-post-area .social-links li a:hover {
        color: #2a2a2a; }
.single-post-area .blog_details {
  padding-top: 26px; }
  .single-post-area .blog_details p {
    margin-bottom: 20px;
    font-size: 15px; }
  .single-post-area .blog_details h2 {
    color: #2a2a2a; }
.single-post-area .quote-wrapper {
  background: rgba(130, 139, 178, 0.1);
  padding: 15px;
  line-height: 1.733;
  color: #888888;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .single-post-area .quote-wrapper {
      padding: 30px; } }
.single-post-area .quotes {
  background: #fff;
  padding: 15px 15px 15px 20px;
  border-left: 2px solid #ff7a7f; }
  @media (min-width: 768px) {
    .single-post-area .quotes {
      padding: 25px 25px 25px 30px; } }
.single-post-area .arrow {
  position: absolute; }
  .single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600; }
.single-post-area .thumb .overlay-bg {
  background: rgba(0, 0, 0, 0.8); }
.single-post-area .navigation-top {
  padding-top: 15px;
  border-top: 1px solid #f0e9ff; }
  .single-post-area .navigation-top p {
    margin-bottom: 0; }
  .single-post-area .navigation-top .like-info {
    font-size: 14px; }
    .single-post-area .navigation-top .like-info i, .single-post-area .navigation-top .like-info span {
      font-size: 16px;
      margin-right: 5px; }
  .single-post-area .navigation-top .comment-count {
    font-size: 14px; }
    .single-post-area .navigation-top .comment-count i, .single-post-area .navigation-top .comment-count span {
      font-size: 16px;
      margin-right: 5px; }
  .single-post-area .navigation-top .social-icons li {
    display: inline-block;
    margin-right: 15px; }
    .single-post-area .navigation-top .social-icons li:last-child {
      margin: 0; }
    .single-post-area .navigation-top .social-icons li i, .single-post-area .navigation-top .social-icons li span {
      font-size: 14px;
      color: #999999; }
    .single-post-area .navigation-top .social-icons li:hover i, .single-post-area .navigation-top .social-icons li:hover span {
      color: #ff7a7f; }
.single-post-area .blog-author {
  padding: 40px 30px;
  background: #fbf9ff;
  margin-top: 50px; }
  @media (max-width: 600px) {
    .single-post-area .blog-author {
      padding: 20px 8px; } }
  .single-post-area .blog-author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px; }
    @media (max-width: 600px) {
      .single-post-area .blog-author img {
        margin-right: 15px;
        width: 45px;
        height: 45px; } }
  .single-post-area .blog-author a {
    display: inline-block;
    color: #2a2a2a; }
    .single-post-area .blog-author a:hover {
      color: #ff7a7f; }
  .single-post-area .blog-author p {
    margin-bottom: 0;
    font-size: 15px; }
  .single-post-area .blog-author h4 {
    font-size: 16px; }
.single-post-area .navigation-area {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  margin-top: 55px; }
  .single-post-area .navigation-area p {
    margin-bottom: 0px; }
  .single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2a2a2a; }
  .single-post-area .navigation-area .nav-left {
    text-align: left; }
    .single-post-area .navigation-area .nav-left .thumb {
      margin-right: 20px;
      background: #000; }
      .single-post-area .navigation-area .nav-left .thumb img {
        transition: all 300ms linear 0s; }
    .single-post-area .navigation-area .nav-left .lnr {
      margin-left: 20px;
      opacity: 0;
      transition: all 300ms linear 0s; }
    .single-post-area .navigation-area .nav-left:hover .lnr {
      opacity: 1; }
    .single-post-area .navigation-area .nav-left:hover .thumb img {
      opacity: .5; }
    @media (max-width: 767px) {
      .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px; } }
  .single-post-area .navigation-area .nav-right {
    text-align: right; }
    .single-post-area .navigation-area .nav-right .thumb {
      margin-left: 20px;
      background: #000; }
      .single-post-area .navigation-area .nav-right .thumb img {
        transition: all 300ms linear 0s; }
    .single-post-area .navigation-area .nav-right .lnr {
      margin-right: 20px;
      opacity: 0;
      transition: all 300ms linear 0s; }
    .single-post-area .navigation-area .nav-right:hover .lnr {
      opacity: 1; }
    .single-post-area .navigation-area .nav-right:hover .thumb img {
      opacity: .5; }
@media (max-width: 991px) {
  .single-post-area .sidebar-widgets {
    padding-bottom: 0px; } }

.comments-area {
  background: transparent;
  border-top: 1px solid #eee;
  padding: 45px 0;
  margin-top: 50px; }
  @media (max-width: 414px) {
    .comments-area {
      padding: 50px 8px; } }
  .comments-area h4 {
    margin-bottom: 35px;
    color: #2a2a2a;
    font-size: 18px; }
  .comments-area h5 {
    font-size: 16px;
    margin-bottom: 0px; }
  .comments-area a {
    color: #2a2a2a; }
  .comments-area .comment-list {
    padding-bottom: 48px; }
    .comments-area .comment-list:last-child {
      padding-bottom: 0px; }
    .comments-area .comment-list.left-padding {
      padding-left: 25px; }
    @media (max-width: 413px) {
      .comments-area .comment-list .single-comment h5 {
        font-size: 12px; }
      .comments-area .comment-list .single-comment .date {
        font-size: 11px; }
      .comments-area .comment-list .single-comment .comment {
        font-size: 10px; } }
  .comments-area .thumb {
    margin-right: 20px; }
    .comments-area .thumb img {
      width: 70px;
      border-radius: 50%; }
  .comments-area .date {
    font-size: 14px;
    color: #999999;
    margin-bottom: 0;
    margin-left: 20px; }
  .comments-area .comment {
    margin-bottom: 10px;
    color: #777777;
    font-size: 15px; }
  .comments-area .btn-reply {
    background-color: transparent;
    color: #888888;
    padding: 5px 18px;
    font-size: 14px;
    display: block;
    font-weight: 400; }

.comment-form {
  border-top: 1px solid #eee;
  padding-top: 45px;
  margin-top: 50px;
  margin-bottom: 20px; }
  .comment-form .form-group {
    margin-bottom: 30px; }
  .comment-form h4 {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
    color: #2a2a2a; }
  .comment-form .name {
    padding-left: 0px; }
    @media (max-width: 767px) {
      .comment-form .name {
        padding-right: 0px;
        margin-bottom: 1rem; } }
  .comment-form .email {
    padding-right: 0px; }
    @media (max-width: 991px) {
      .comment-form .email {
        padding-left: 0px; } }
  .comment-form .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent; }
    .comment-form .form-control:focus {
      outline: 0;
      box-shadow: none; }
    .comment-form .form-control::placeholder {
      font-weight: 300;
      color: #999999; }
    .comment-form .form-control::placeholder {
      color: #777777; }
  .comment-form textarea {
    padding-top: 18px;
    border-radius: 12px;
    height: 100% !important; }
  .comment-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
    color: #777; }
  .comment-form ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13px;
    color: #777; }
  .comment-form :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 13px;
    color: #777; }
  .comment-form :-moz-placeholder {
    /* Firefox 18- */
    font-size: 13px;
    color: #777; }

/*============ End Blog Single Styles  =============*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*=================== contact banner start ====================*/
.contact-info {
  margin-bottom: 12px; }
  .contact-info__icon {
    margin-right: 20px; }
    .contact-info__icon i, .contact-info__icon span {
      color: #8f9195;
      font-size: 27px; }
  .contact-info .media-body h3 {
    font-size: 16px;
    margin-bottom: 0;
    color: #2a2a2a; }
    .contact-info .media-body h3 a {
      color: #2a2a2a; }
      .contact-info .media-body h3 a:hover {
        color: #ff7a7f; }
  .contact-info .media-body p {
    color: #999999; }

/*=================== contact banner end ====================*/
/*=================== contact form start ====================*/
.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2a2a2a; }

.form-contact label {
  color: #ff7a7f;
  font-size: 14px; }
.form-contact .form-group {
  margin-bottom: 30px; }
.form-contact .form-control {
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent; }
  .form-contact .form-control:focus {
    outline: 0;
    box-shadow: none; }
  .form-contact .form-control::placeholder {
    font-weight: 300;
    color: #999999; }
.form-contact textarea {
  border-radius: 12px;
  height: 100% !important; }

/*=================== contact form end ====================*/
/* Contact Success and error Area css
============================================================================================ */
.modal-message .modal-dialog {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
  margin: 0px;
  max-width: 500px;
  width: 100%; }
  .modal-message .modal-dialog .modal-content .modal-header {
    text-align: center;
    display: block;
    border-bottom: none;
    padding-top: 50px;
    padding-bottom: 50px; }
    .modal-message .modal-dialog .modal-content .modal-header .close {
      position: absolute;
      right: -15px;
      top: -15px;
      padding: 0px;
      color: #fff;
      opacity: 1;
      cursor: pointer; }
    .modal-message .modal-dialog .modal-content .modal-header h2 {
      display: block;
      text-align: center;
      color: #ff7a7f;
      padding-bottom: 10px;
      font-family: "Josefin Sans", sans-serif; }
    .modal-message .modal-dialog .modal-content .modal-header p {
      display: block; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Category Area css
======================================================================= */
.single-category {
  background: #fff;
  margin-bottom: 20px; }
  .single-category .short_details {
    margin-top: -92px;
    right: -3%;
    width: 94%;
    padding: 30px;
    z-index: 555;
    position: relative;
    background: #fff;
    transition: all 300ms linear 0s; }
    @media (max-width: 1199px) {
      .single-category .short_details {
        padding: 15px; } }
    .single-category .short_details a {
      color: #33353b;
      font-weight: 600; }
      .single-category .short_details a:hover {
        color: #ff7a7f; }
    .single-category .short_details h4 {
      font-size: 20px; }
  .single-category .thumb {
    overflow: hidden;
    position: relative; }
    .single-category .thumb img {
      width: 100%;
      transition: all 300ms linear 0s; }
  .single-category .meta-bottom {
    margin-bottom: 15px; }
    .single-category .meta-bottom a {
      display: inline-block;
      color: #797979;
      position: relative;
      font-size: 13px;
      text-transform: uppercase;
      transition: all 300ms linear 0s;
      margin-right: 12px; }
      .single-category .meta-bottom a i {
        margin-right: 5px; }
      .single-category .meta-bottom a:hover {
        color: #ff7a7f; }
  .single-category .meta-top {
    margin-bottom: 6px; }
    .single-category .meta-top a {
      display: inline-block;
      font-size: 11px;
      color: #ff7a7f;
      text-transform: uppercase;
      position: relative;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      transition: all 300ms linear 0s; }
      .single-category .meta-top a:hover {
        color: #ff7a7f; }
  .single-category.small .short_details {
    margin-top: 0;
    right: 0;
    width: 100%;
    padding: 10px; }
  .single-category.small .thumb {
    overflow: hidden; }
  .single-category.small .meta-bottom {
    margin-bottom: 15px; }
    .single-category.small .meta-bottom a {
      display: inline-block;
      color: #797979;
      position: relative;
      font-size: 13px;
      text-transform: uppercase;
      transition: all 300ms linear 0s;
      margin-right: 12px; }
      .single-category.small .meta-bottom a i {
        margin-right: 5px; }
      .single-category.small .meta-bottom a:hover {
        color: #ff7a7f; }
  .single-category.small .meta-top {
    margin-bottom: 6px; }
    .single-category.small .meta-top a {
      display: inline-block;
      font-size: 11px;
      color: #ff7a7f;
      text-transform: uppercase;
      position: relative;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      transition: all 300ms linear 0s; }
      .single-category.small .meta-top a:hover {
        color: #ff7a7f; }
  .single-category.small h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 27px;
    transition: all 300ms linear 0s; }
    @media (max-width: 1199px) {
      .single-category.small h4 {
        font-size: 18px; } }
    @media (max-width: 991px) {
      .single-category.small h4 {
        margin-bottom: 8px; } }
  .single-category:hover img {
    transform: scale(1); }

.category-page .main_btn {
  display: inline-block;
  background: #ff7a7f;
  padding: 0px 18px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 48px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #ff7a7f;
  cursor: pointer;
  text-transform: capitalize;
  margin-top: 15px;
  transition: all 300ms linear 0s; }
  .category-page .main_btn:hover {
    background: #fff;
    color: #ff7a7f;
    border: 1px solid #ff7a7f; }
  .category-page .main_btn .ti-angle-double-right {
    font-size: 11px; }

.single-category .meta-top a:first-child {
  margin-right: 3px; }

.single-category .meta-top a:last-child {
  margin-left: 3px; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*============== Elements Area css ================*/
.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.sample-text-area {
  padding: 100px 0px; }
  .sample-text-area .title_color {
    margin-bottom: 30px; }
  .sample-text-area p {
    line-height: 26px; }
    .sample-text-area p b {
      font-weight: bold;
      color: #ff7a7f; }
    .sample-text-area p i {
      color: #ff7a7f;
      font-style: italic; }
    .sample-text-area p sup {
      color: #ff7a7f;
      font-style: italic; }
    .sample-text-area p sub {
      color: #ff7a7f;
      font-style: italic; }
    .sample-text-area p del {
      color: #ff7a7f; }
    .sample-text-area p u {
      color: #ff7a7f; }

/*============== End Elements Area css ================*/
/*==============Elements Button Area css ================*/
.elements_button .title_color {
  margin-bottom: 30px;
  color: #33353b; }

.title_color {
  color: #33353b; }

.button-group-area {
  margin-top: 15px; }
  .button-group-area:nth-child(odd) {
    margin-top: 40px; }
  .button-group-area:first-child {
    margin-top: 0px; }
  .button-group-area .theme_btn {
    margin-right: 10px; }
  .button-group-area .white_btn {
    margin-right: 10px; }
  .button-group-area .link {
    text-decoration: underline;
    color: #33353b;
    background: transparent; }
    .button-group-area .link:hover {
      color: #fff; }
  .button-group-area .disable {
    background: transparent;
    color: #007bff;
    cursor: not-allowed; }
    .button-group-area .disable:before {
      display: none; }

.primary {
  background: #52c5fd; }
  .primary:before {
    background: #2faae6; }

.success {
  background: #4cd3e3; }
  .success:before {
    background: #2ebccd; }

.info {
  background: #38a4ff; }
  .info:before {
    background: #298cdf; }

.warning {
  background: #f4e700; }
  .warning:before {
    background: #e1d608; }

.danger {
  background: #f54940; }
  .danger:before {
    background: #e13b33; }

.primary-border {
  background: transparent;
  border: 1px solid #52c5fd;
  color: #52c5fd; }
  .primary-border:before {
    background: #52c5fd; }

.success-border {
  background: transparent;
  border: 1px solid #4cd3e3;
  color: #4cd3e3; }
  .success-border:before {
    background: #4cd3e3; }

.info-border {
  background: transparent;
  border: 1px solid #38a4ff;
  color: #38a4ff; }
  .info-border:before {
    background: #38a4ff; }

.warning-border {
  background: #fff;
  border: 1px solid #f4e700;
  color: #f4e700; }
  .warning-border:before {
    background: #f4e700; }

.danger-border {
  background: transparent;
  border: 1px solid #f54940;
  color: #f54940; }
  .danger-border:before {
    background: #f54940; }

.link-border {
  background: transparent;
  border: 1px solid #ff7a7f;
  color: #ff7a7f; }
  .link-border:before {
    background: #ff7a7f; }

.radius {
  border-radius: 3px; }

.circle {
  border-radius: 20px; }

.arrow span {
  padding-left: 5px; }

.e-large {
  line-height: 50px;
  padding-top: 0px;
  padding-bottom: 0px; }

.large {
  line-height: 45px;
  padding-top: 0px;
  padding-bottom: 0px; }

.medium {
  line-height: 30px;
  padding-top: 0px;
  padding-bottom: 0px; }

.small {
  line-height: 25px;
  padding-top: 0px;
  padding-bottom: 0px; }

.general {
  line-height: 38px;
  padding-top: 0px;
  padding-bottom: 0px; }

/*==============End Elements Button Area css ================*/
/* =================================== */
/*  Elements Page Styles
/* =================================== */
/*---------- Start Elements Page -------------*/
.generic-banner {
  margin-top: 60px;
  text-align: center; }

.generic-banner .height {
  height: 600px; }

@media (max-width: 767.98px) {
  .generic-banner .height {
    height: 400px; } }
.generic-banner .generic-banner-content h2 {
  line-height: 1.2em;
  margin-bottom: 20px; }

@media (max-width: 991.98px) {
  .generic-banner .generic-banner-content h2 br {
    display: none; } }
.generic-banner .generic-banner-content p {
  text-align: center;
  font-size: 16px; }

@media (max-width: 991.98px) {
  .generic-banner .generic-banner-content p br {
    display: none; } }
.generic-content h1 {
  font-weight: 600; }

.about-generic-area {
  background: #fff; }

.about-generic-area p {
  margin-bottom: 20px; }

.white-bg {
  background: #fff; }

.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee; }

.switch-wrap {
  margin-bottom: 10px; }

.switch-wrap p {
  margin: 0; }

/*---------- End Elements Page -------------*/
.sample-text-area {
  padding: 100px 0 70px 0; }

.sample-text {
  margin-bottom: 0; }

.text-heading {
  margin-bottom: 30px;
  font-size: 24px; }

.typo-list {
  margin-bottom: 10px; }

@media (max-width: 767px) {
  .typo-sec {
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  .element-wrap {
    margin-top: 30px; } }
b, sup, sub, u, del {
  color: #f8b600; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #777777; }

.button-area .border-top-generic {
  padding: 70px 15px;
  border-top: 1px dotted #eee; }

.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px; }

.button-group-area .genric-btn:last-child {
  margin-right: 0; }

.circle {
  border-radius: 20px; }

.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.genric-btn:focus {
  outline: none; }

.genric-btn.e-large {
  padding: 0 40px;
  line-height: 50px; }

.genric-btn.large {
  line-height: 45px; }

.genric-btn.medium {
  line-height: 30px; }

.genric-btn.small {
  line-height: 25px; }

.genric-btn.radius {
  border-radius: 3px; }

.genric-btn.circle {
  border-radius: 20px; }

.genric-btn.arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.genric-btn.arrow span {
  margin-left: 10px; }

.genric-btn.default {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent; }

.genric-btn.default:hover {
  border: 1px solid #f9f9ff;
  background: #fff; }

.genric-btn.default-border {
  border: 1px solid #f9f9ff;
  background: #fff; }

.genric-btn.default-border:hover {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent; }

.genric-btn.primary {
  color: #fff;
  background: #f8b600;
  border: 1px solid transparent; }

.genric-btn.primary:hover {
  color: #f8b600;
  border: 1px solid #f8b600;
  background: #fff; }

.genric-btn.primary-border {
  color: #f8b600;
  border: 1px solid #f8b600;
  background: #fff; }

.genric-btn.primary-border:hover {
  color: #fff;
  background: #f8b600;
  border: 1px solid transparent; }

.genric-btn.success {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent; }

.genric-btn.success:hover {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff; }

.genric-btn.success-border {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff; }

.genric-btn.success-border:hover {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent; }

.genric-btn.info {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent; }

.genric-btn.info:hover {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff; }

.genric-btn.info-border {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff; }

.genric-btn.info-border:hover {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent; }

.genric-btn.warning {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent; }

.genric-btn.warning:hover {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff; }

.genric-btn.warning-border {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff; }

.genric-btn.warning-border:hover {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent; }

.genric-btn.danger {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent; }

.genric-btn.danger:hover {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff; }

.genric-btn.danger-border {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff; }

.genric-btn.danger-border:hover {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent; }

.genric-btn.link {
  color: #222222;
  background: #f9f9ff;
  text-decoration: underline;
  border: 1px solid transparent; }

.genric-btn.link:hover {
  color: #222222;
  border: 1px solid #f9f9ff;
  background: #fff; }

.genric-btn.link-border {
  color: #222222;
  border: 1px solid #f9f9ff;
  background: #fff;
  text-decoration: underline; }

.genric-btn.link-border:hover {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent; }

.genric-btn.disable {
  color: #222222, 0.3;
  background: #f9f9ff;
  border: 1px solid transparent;
  cursor: not-allowed; }

.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #fff;
  border-left: 2px solid #f8b600; }

@media (max-width: 991px) {
  .progress-table-wrap {
    overflow-x: scroll; } }
.progress-table {
  background: #fff;
  padding: 15px 0px 30px 0px;
  min-width: 800px; }

.progress-table .serial {
  width: 11.83%;
  padding-left: 30px; }

.progress-table .country {
  width: 28.07%; }

.progress-table .visit {
  width: 19.74%; }

.progress-table .percentage {
  width: 40.36%;
  padding-right: 50px; }

.progress-table .table-head {
  display: flex; }

.progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
  color: #222222;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500; }

.progress-table .table-row {
  padding: 15px 0;
  border-top: 1px solid #edf3fd;
  display: flex; }

.progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
  display: flex;
  align-items: center; }

.progress-table .table-row .country img {
  margin-right: 15px; }

.progress-table .table-row .percentage .progress {
  width: 80%;
  border-radius: 0px;
  background: transparent; }

.progress-table .table-row .percentage .progress .progress-bar {
  height: 5px;
  line-height: 5px; }

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
  background-color: #6382e6; }

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
  background-color: #e66686; }

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
  background-color: #f09359; }

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
  background-color: #73fbaf; }

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
  background-color: #73fbaf; }

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
  background-color: #6382e6; }

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
  background-color: #a367e7; }

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
  background-color: #e66686; }

.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.single-gallery-image:hover {
  opacity: .8; }

.list-style {
  width: 14px;
  height: 14px; }

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important; }

.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #f8b600;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%; }

.ordered-list {
  margin-left: 30px; }

.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important; }

.ordered-list li span {
  font-weight: 300;
  color: #777777; }

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important; }

.ordered-list-alpha li span {
  font-weight: 300;
  color: #777777; }

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important; }

.ordered-list-roman li span {
  font-weight: 300;
  color: #777777; }

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }

.single-input:focus {
  outline: none; }

.input-group-icon {
  position: relative; }

.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3; }

.input-group-icon .icon i {
  color: #797979; }

.input-group-icon .single-input {
  padding-left: 45px; }

.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none; }

.single-textarea:focus {
  outline: none; }

.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }

.single-input-primary:focus {
  outline: none;
  border: 1px solid #f8b600; }

.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }

.single-input-accent:focus {
  outline: none;
  border: 1px solid #eb6b55; }

.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }

.single-input-secondary:focus {
  outline: none;
  border: 1px solid #f09359; }

.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.default-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer; }

.default-switch input + label {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f8b600;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.default-switch input:checked + label {
  left: 19px; }

.single-element-widget {
  margin-bottom: 30px; }

.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.primary-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.primary-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.primary-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.primary-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.primary-switch input:checked + label:after {
  left: 19px; }

.primary-switch input:checked + label:before {
  background: #f8b600; }

.confirm-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.confirm-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.confirm-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.confirm-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer; }

.confirm-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.confirm-switch input:checked + label:after {
  left: 19px; }

.confirm-switch input:checked + label:before {
  background: #4cd3e3; }

.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.primary-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.primary-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1; }

.single-defination h4 {
  color: #33353b; }

.primary-checkbox input:checked + label {
  background: url(../img/elements/primary-check.png) no-repeat center center/cover;
  border: none; }

.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.confirm-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.confirm-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1; }

.confirm-checkbox input:checked + label {
  background: url(../img/elements/success-check.png) no-repeat center center/cover;
  border: none; }

.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.disabled-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.disabled-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1; }

.disabled-checkbox input:disabled {
  cursor: not-allowed;
  z-index: 3; }

.disabled-checkbox input:checked + label {
  background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
  border: none; }

.primary-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.primary-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.primary-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1; }

.primary-radio input:checked + label {
  background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
  border: none; }

.confirm-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.confirm-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.confirm-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1; }

.confirm-radio input:checked + label {
  background: url(../img/elements/success-radio.png) no-repeat center center/cover;
  border: none; }

.disabled-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.disabled-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.disabled-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1; }

.disabled-radio input:disabled {
  cursor: not-allowed;
  z-index: 3; }

.unordered-list {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.ordered-list {
  list-style: none;
  padding: 0px; }

.disabled-radio input:checked + label {
  background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
  border: none; }

.default-select {
  height: 40px; }

.default-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #fff;
  padding-left: 20px;
  padding-right: 40px; }

.default-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px; }

.default-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 20px; }

.default-select .nice-select .list .option.selected {
  color: #f8b600;
  background: transparent; }

.default-select .nice-select .list .option:hover {
  color: #f8b600;
  background: transparent; }

.default-select .current {
  margin-right: 50px;
  font-weight: 300; }

.default-select .nice-select::after {
  right: 20px; }

@media (max-width: 991px) {
  .left-align-p p {
    margin-top: 20px; } }
.form-select {
  height: 40px;
  width: 100%; }

.form-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff !important;
  padding-left: 45px;
  padding-right: 40px;
  width: 100%; }

.form-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px; }

.mt-10 {
  margin-top: 10px; }

.form-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 45px; }

.form-select .nice-select .list .option.selected {
  color: #f8b600;
  background: transparent; }

.form-select .nice-select .list .option:hover {
  color: #f8b600;
  background: transparent; }

.form-select .current {
  margin-right: 50px;
  font-weight: 300; }

.form-select .nice-select::after {
  right: 20px; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Main Button Area css
============================================================================================ */
.main_btn {
  display: inline-block;
  background: #ff7a7f;
  padding: 0px 18px;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #ff7a7f;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 300ms linear 0s; }
  .main_btn:hover {
    background: #fff;
    color: #ff7a7f;
    border: 1px solid #ff7a7f; }

.main_btn_light {
  display: inline-block;
  border: 1px solid #ff7a7f;
  padding: 0px 18px;
  color: #33363e;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #ff7a7f;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 300ms linear 0s; }
  .main_btn_light:hover {
    background: #ff7a7f;
    color: #fff; }

.main_btn2 {
  display: inline-block;
  background: #fff;
  padding: 0px 32px;
  color: #33353b;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 300ms linear 0s; }
  .main_btn2:hover {
    background: #ff7a7f;
    color: #fff;
    border-color: #ff7a7f; }

.submit_btn {
  width: auto;
  display: inline-block;
  background: #ff7a7f;
  padding: 0px 50px;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #ff7a7f;
  cursor: pointer;
  transition: all 300ms linear 0s; }
  .submit_btn:hover {
    background: transparent;
    color: #ff7a7f; }

.white_bg_btn {
  display: inline-block;
  background: #f9f9ff;
  padding: 0px 35px;
  color: #33353b;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 34px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #eeeeee;
  cursor: pointer;
  transition: all 300ms linear 0s; }
  .white_bg_btn:hover {
    background: #ff7a7f;
    color: #fff;
    border-color: #ff7a7f; }

.black_btn {
  padding: 0px 44px;
  line-height: 50px;
  background: #33353b;
  color: #ff7a7f;
  display: inline-block;
  border-radius: 5px;
  font-size: 13px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  transition: all 300ms linear 0s; }
  .black_btn:hover {
    background: #ff7a7f;
    color: #33353b; }

.play_btn a {
  color: #fff;
  border: 2px solid #fff;
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-size: 29px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.link_one {
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  color: #33363e;
  letter-spacing: 1.5px;
  position: relative; }
  .link_one:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -14px;
    height: 2px;
    width: 40px;
    background: #33363e; }
  .link_one:hover:after {
    width: 100%;
    background: #ff7a7f;
    transition: all 300ms linear 0s; }

/*=================== custom button rule start ====================*/
.button {
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 54px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #ff7a7f;
  text-transform: uppercase;
  background: #ff7a7f;
  cursor: pointer;
  transition: all 300ms linear 0s; }
  @media (max-width: 767px) {
    .button {
      font-size: 13px;
      padding: 9px 24px; } }
  .button:hover {
    background: #ff7a7f;
    color: #fff; }
  .button-link {
    letter-spacing: 0;
    color: #3b1d82;
    border: 0;
    padding: 0; }
    .button-link:hover {
      background: transparent;
      color: #3b1d82; }
  .button-header {
    background: #ff7a7f;
    color: #fff;
    border-color: #ff7a7f; }
    .button-header:hover {
      background: #b8024c;
      color: #fff; }
  .button-contactForm {
    background: #ff7a7f;
    color: #fff;
    border-color: #ff7a7f;
    padding: 12px 25px; }
    .button-contactForm:hover {
      border-color: #2a2a2a;
      background: #2a2a2a;
      color: #fff; }

/* End Main Button Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*============== footer-area css ===============*/
.footer-area {
  padding-top: 115px; }
  @media (max-width: 991px) {
    .footer-area {
      padding: 60px 0px; } }
  @media (max-width: 991px) {
    .footer-area .single-footer-widget {
      margin-bottom: 30px; } }
  .footer-area .single-footer-widget p {
    color: #888888; }
  .footer-area .single-footer-widget h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #33353b; }
    @media (max-width: 1024px) {
      .footer-area .single-footer-widget h4 {
        font-size: 20px; } }
    @media (max-width: 991px) {
      .footer-area .single-footer-widget h4 {
        margin-bottom: 15px; } }
  .footer-area .single-footer-widget ul li {
    margin-bottom: 10px; }
    .footer-area .single-footer-widget ul li a {
      transition: all 300ms linear 0s;
      color: #888888; }
      .footer-area .single-footer-widget ul li a:hover {
        color: #ff7a7f; }
  .footer-area .single-footer-widget .form-wrap {
    margin-top: 25px; }
    .footer-area .single-footer-widget .form-wrap .info {
      color: #ff7a7f; }
  .footer-area .single-footer-widget input {
    height: 40px;
    border: 1px solid #eeeeee;
    width: 67% !important;
    font-weight: 400;
    background: #fff;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
    padding: 10px 22px;
    border-radius: 25px;
    color: #888888;
    margin-right: -25px; }
    .footer-area .single-footer-widget input:focus {
      outline: none;
      box-shadow: none; }
    .footer-area .single-footer-widget input.placeholder {
      font-size: 14px;
      padding-left: 10px;
      color: #888888; }
    .footer-area .single-footer-widget input:-moz-placeholder {
      font-size: 14px;
      padding-left: 10px;
      color: #888888; }
    .footer-area .single-footer-widget input::-moz-placeholder {
      font-size: 14px;
      padding-left: 10px;
      color: #888888; }
    .footer-area .single-footer-widget input::-webkit-input-placeholder {
      font-size: 14px;
      padding-left: 10px;
      color: #888888; }
  .footer-area .single-footer-widget .click-btn {
    border-radius: 24px;
    padding: 6px 21px 4px 14px;
    border: 0;
    background: #ff7a7f;
    color: #fff;
    position: relative;
    left: 0;
    text-transform: capitalize;
    z-index: 999; }
    .footer-area .single-footer-widget .click-btn i, .footer-area .single-footer-widget .click-btn span {
      font-size: 18px; }
    .footer-area .single-footer-widget .click-btn:focus {
      outline: none;
      box-shadow: none; }
  .footer-area .footer-address span {
    display: block;
    margin-bottom: 15px; }
  .footer-area .footer-logo {
    margin-top: 28px;
    display: inline-block; }
  .footer-area .footer-bottom {
    border-top: 1px solid #e8edf1;
    margin-top: 51px;
    padding: 20px 0; }
    @media (max-width: 991px) {
      .footer-area .footer-bottom {
        margin-top: 20px; } }
    .footer-area .footer-bottom p {
      color: #777777; }
      .footer-area .footer-bottom p a {
        color: #ff7a7f; }
    .footer-area .footer-bottom .footer-social {
      text-align: center; }
      @media (max-width: 991px) {
        .footer-area .footer-bottom .footer-social {
          text-align: left;
          margin-top: 30px !important; } }
      .footer-area .footer-bottom .footer-social a {
        margin-left: 3px;
        width: 32px;
        color: #8f919c;
        display: inline-grid;
        text-align: center;
        height: 32px;
        align-content: center;
        transition: all 300ms linear 0s; }
        .footer-area .footer-bottom .footer-social a:hover {
          color: #ff7a7f; }
        .footer-area .footer-bottom .footer-social a i, .footer-area .footer-bottom .footer-social a span {
          font-size: 14px; }

@media (max-width: 991px) {
  .header_area .navbar-collapse {
    padding: 15px 0px; } }
@media (max-width: 767px) {
  .home_banner_area .banner_inner .banner_content span::after {
    display: none; }

  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 33px; }

  .home_banner_area .banner_inner .banner_content h3 br {
    display: none; }

  .home_banner_area .banner_inner .banner_content .main_btn {
    margin-top: 14px; }

  .home_banner_area .banner_inner .banner_content span {
    font-size: 15px;
    margin-bottom: 6px; }

  .footer-area {
    padding-top: 70px;
    padding-bottom: 20px; }

  .footer-bottom {
    margin-top: 35px;
    padding-top: 40px; }

  .footer-area .footer-bottom .footer-social {
    margin-top: 15px !important; } }
/*---------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
