{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Add Professional Profile', 'account.new_profile',
                                    description='Click here to add your professional profile so employers can find and hire you', icon='write icon') }}
                {{ dashboard_option('Share a thought or post or image', 'post.post_create',
                                    description='Click here to share your thoughts or writeups or professional images', icon='write icon') }}
                {{ dashboard_option('Ask a question, get answers', 'main.question',
                                    description='Click here to ask colleagues and other professionals a question', icon='help icon') }}
                {{ dashboard_option('Follow colleagues', 'main.select_section',
                                    description='Find colleagues to add', icon='add user icon') }}
                {{ dashboard_option('Invite a colleague', 'main.invite_user',
                                    description='Invite a fellow co worker to create their own account', icon='add user icon') }}
                {% if check_org_exist.user_id is none %}
                    {{ dashboard_option('Add an organization', 'organisations.create_org',description='Add a hospital or healthcare job agency or any other health and allied care organisation', icon='building icon') }}
                {% else %}
                    {{ dashboard_option('Organizations', 'organisations.org_home',description='List of your organizations', icon='suitcase icon') }}
                {% endif %}
                {{ dashboard_option('Apply to jobs', 'jobs.jobs_list',
                                    description='Find and apply for health and or allied care jobs which are posted here.', icon='search icon') }}
                {{ dashboard_option('Find promos', 'promos.promos_list',
                                    description='Find and participate in healthcare promotional campaigns and offers.', icon='search icon') }}
                            {{ dashboard_option('Market Place', 'marketplace.index',
                                    description='A Place where you can buy and sell medical products.', icon='shopping basket icon') }}

            </div>
        </div>
    </div>
{% endblock %}
