{# This macro is called on the user dashboards. In this case the administrator dashboard
   at the route admin.index
#}
{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}
{% macro render_menu_items(endpoints) %}
    {% for endpoint, name, icon, count in endpoints %}
        <a class="item {% if request.endpoint == endpoint %}active{% endif %} {{ icon }}" href="{{ url_for(endpoint) if endpoint != '#' else '#' }}">
            {% if icon %}
                <i class="{{ icon }} icon"></i>
            {% endif %}
            {% if count %}
                <div class="floating ui blue label active" style="top:0">{{ count }}</div>
            {% endif %}
            {{ name | safe }}
        </a>
    {% endfor %}
{% endmacro %}

{# This is called for all users (including anonymous users). It renders the basic left side of the 
   navigation bar. In the default case, the left hand side will read 'Flask-Base'. In the logged in
   admin case, there will also be an item that links to admin/ route. I have added an example use of
   render_menu_items.
#}

{% macro header_items(current_user) %}
    {% if current_user.is_authenticated %}
        {% set endpoints = [('main.index', config.APP_NAME, 'home', ''),] %}
        {% set user = [] %}
        {% if current_user.is_authenticated and current_user.role.is_admin %}
            {% set user = ([(current_user.role.index + '.index', current_user.role.name + ' Dashboard', 'user')]) %}
        {% endif %}
        {{ render_menu_items( endpoints +  user ) }}
    {% else %}
        {% set endpoints = [
        ('public.index', 'Home', 'home', ''),
                ('account.register', 'Register', 'list layout', ''),
        ('account.login', 'Log In', 'sign in', '')
      ] %}
        {{ render_menu_items(endpoints) }}
    {% endif %}
{% endmacro %}

{# This renders the right hand side of the navigation bar. If the user is logged in, it links to 
   manage their account and logout (account routes). Otherwise, it links to register and login.
#}
{% macro main_items(current_user, is_mobile=False) %}
    {% if current_user.is_authenticated %}
        {% set endpoints = [
            ('post.post_create', 'Posts', 'write', ''),
      ('main.question', 'Questions', 'edit', ''),
      ('organisations.org_home', 'Organizations', 'user outline', ''),
	  ('jobs.jobs_list', 'Jobs', 'suitcase', ''),
	  ('main.select_section', 'Network', 'users', ''),
	  ('employer.search', 'Hire a professional', 'suitcase', ''),
      ] %}

        {{ render_menu_items(endpoints) }}
    {% endif %}
{% endmacro %}
{% macro account_items(current_user, is_mobile=False) %}
    {% if current_user.is_authenticated %}
        {% if is_mobile %}
            {% set endpoints = [
                ('post.post_create', 'Posts', 'write', ''),
      ('main.question', 'Questions', 'edit', ''),
      ('organisations.org_home', 'Organizations', 'user outline', ''),
	  ('jobs.jobs_list', 'Jobs', 'suitcase', ''),
	  ('main.select_section', 'Network', 'users', ''),
	  	  ('employer.search', 'Hire a professional', 'suitcase', ''),
	  ('main.notifications', 'Notifications', 'alarm', '...'),
	  ('main.conversations', 'Messages', 'comments', '...'),
        ('account.manage', 'Profile' , 'user', ''),
        ('account.logout', 'Sign Out', 'sign out', ''),
      ] %}
        {% else %}
            {% set endpoints = [
	  ('main.notifications', '', 'alarm', '...'),
	  ('main.conversations', '', 'comments', '...'),
        ('account.manage', '' , 'user', ''),
         ('#', '' , 'main search', ''),
        ('account.logout', '', 'sign out', '')
      ] %}
        {% endif %}
        {{ render_menu_items(endpoints) }}
    {% else %}
        {% set endpoints = [
        ('employer.search', 'Hire a professional', '', ''),
        ('public.about', 'About', '', ''),
        ('public.contact', 'Contact', '', ''),
		('public.faq', 'Faq', '', ''),
		('public.terms', 'Terms', '', ''),
		('public.privacy', 'Privacy', '', '')
      ] %}
        {{ render_menu_items(endpoints) }}
    {% endif %}
{% endmacro %}


{% macro mobile_nav(current_user, dropdown=None) %}
    <div class="mobile only  tablet only row">
        <div class="ui fixed inverted black main menu">
            {{ header_items(current_user) }}
            <div class="right menu">
                {% if current_user.is_authenticated %}
                    {{ render_menu_items([('#', '' , 'main search', '')]) }}
                {% endif %}
                <a class="icon item" id="open-nav"><i class="sidebar icon"></i></a>
            </div>
        </div>

        {# The menu items which will be shown when open-nav is clicked #}
        <div class="ui fixed vertical fluid menu">
            {{ account_items(current_user, True) }}
            {{ create_dropdown(dropdown) }}
        </div>

        {% if request.blueprint == 'marketplace' %}
            <div class="ui fixed indigo inverted  menu" style="top:2.85714286em">
                {{ render_menu_items([('marketplace.index', 'Market', 'shopping basket', '')]) }}
                <div class="right menu">
                    <a class="icon item" id="open-nav1"><i class="sidebar icon"></i></a>
                </div>
            </div>
            <div class="ui fixed vertical fluid menu" style="top:2.85714286em;">
                {{ render_menu_items([('marketplace.categories', 'Categories', 'database', '')]) }}
                {{ render_menu_items([('marketplace.buyer_panel', 'Buyer Dashborad', 'credit card outline', '')]) }}
                {% if current_user.is_seller %}
                    {{ render_menu_items([('marketplace.seller_panel', 'Seller Dashborad', 'sitemap', '')]) }}
                {% endif %}
                {{ render_menu_items([('marketplace.cart', 'Cart', 'main shopping cart', get_cart())]) }}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro create_dropdown(dropdown) %}
    {% for item in dropdown %}
        {% if item | length == 3 %}
            {{ render_menu_items([item]) }}
        {% elif item | length == 2 %}
            <div class="ui dropdown item" onClick="changeMenu(this)">{{ item[0] }} <i class="dropdown icon"></i>
                <div class="inverted black menu">
                    {{ create_dropdown(item[1]) }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro desktop_nav(current_user, dropdown=None) %}
    <div class="computer only row">
        <div class="ui fixed inverted black main menu">
            <div class="ui container">
                {{ header_items(current_user) }}
                {{ create_dropdown(dropdown) }}
                <div class="left menu">
                    {{ main_items(current_user) }}

                </div>
                <div class="right menu">
                    {{ account_items(current_user) }}
                </div>
            </div>
        </div>
        {% if request.blueprint == 'marketplace' %}
            <div class="ui fixed indigo  inverted menu" style="top:2.85714286em">
                <div class="ui container">
                    {{ render_menu_items([('marketplace.index', 'Market', 'shopping basket', '')]) }}
                    <div class="right menu">
                        {{ render_menu_items([('marketplace.categories', 'Categories', 'database', '')]) }}
                        {{ render_menu_items([('marketplace.buyer_panel', 'Buyer Dashborad', 'credit card outline', '')]) }}
                        {% if current_user.is_seller %}
                            {{ render_menu_items([('marketplace.seller_panel', 'Seller Dashborad', 'sitemap', '')]) }}
                        {% endif %}
                        {{ render_menu_items([('marketplace.cart', '', 'main shopping cart', get_cart())]) }}

                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_nav(current_user, dropdown=[]) %}
    <nav class="ui navigation grid {% if endpoints %}has-submenu{% endif %}">
        {{ mobile_nav(current_user, dropdown=dropdown) }}
        {{ desktop_nav(current_user, dropdown=dropdown) }}
    </nav>
{% endmacro %}
